

@font-face {
  font-family: 'Mont-Heavy';
  src: url('../public/mont-heavy.ttf');
}



/* @media (prefers-color-scheme: light) { */
  body {
    padding: 0;
    margin: 0;
    background-color: rgba(168, 20, 109, 0.4); 
    overflow-y:hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    @media only screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
   

* {
  box-sizing: border-box;
}

.hashtag {
  color: #EA3680;
  font-size: 0.9rem;
  font-weight: 600;
  font-variant-caps: small-caps;
}

.hashtag:hover {
  opacity: 70%;
  cursor: pointer;
}

button {
  color: #fff;
  border-radius: 1rem;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 1.5rem;
  
}

input {
  background-color: #151D27;
  border: 1px solid grey;
  color: #fff;
  height: 2rem;
  width: 60%;
  margin-bottom: 1rem;
}

label {
  position: relative;
}

label input {
  font-size: 1em;
  color: #f9f9f9;
  background: transparent;
  padding: 1rem 1.2rem;
  width: 350px;
  border-radius: 5px;
  transition: all 0.2s;
}

/* ne fonctionne pas */
label input:focus {
  border-color: #ff4754;
}

label .password-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 58%;
  right: 3rem;
  transform: translateY(-50%);
  width: 1rem;
  color: #969595;
  transition: all 0.2s;
}

label .password-icon2 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 84%;
  right: 3rem;
  transform: translateY(-50%);
  width: 1rem;
  color: #969595;
  transition: all 0.2s;
}

label .password-icon3 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 66%;
  right: 3rem;
  transform: translateY(-50%);
  width: 1rem;
  color: #969595;
  transition: all 0.2s;
}

label .password-icon:hover {
  cursor: pointer;
  color: #ff4754;
}

label .password-icon2:hover {
  cursor: pointer;
  color: #ff4754;
}

label .password-icon3:hover {
  cursor: pointer;
  color: #ff4754;
}

/* label .password-icon .feather-eye-off {
  display: none;
} */