.inputHashtag{
    background-color: #1B232C;
    border: none;
    border-radius: 20px;
    color: #fff;
    height: 2rem;
    width: 80%;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
}

.PageAcceuil {
    display: flex;
    width: 100%;
}
  
.addTweet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media only screen and (max-width: 600px) {
        padding-top: 0.5rem;
        padding-bottom: 0.25rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
}

.inputLastTweets {
    border-radius: 0.5rem;
    width: 70%;
    margin-bottom: 1rem;
    text-indent: 2rem;
    @media only screen and (max-width: 600px) {
        margin-bottom: 0.25rem;
    }
}

.inputLine {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* .tag {
    font-weight: bold;
    margin-right: 0.25rem;
    margin-top: -1rem;
    font-size: 20px;
    @media only screen and (max-width:600px) {
        margin-top: 0;
    }
} */

.tag {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3.7%;
    left: 27.5rem;
    font-size: 20px;
    font-weight: bold;
    /* transform: translateY(-50%); */
    transition: all 0.2s;
    @media only screen and (max-width:600px) {
        font-size: 16px;
    }
}

.dessousInput {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
    padding-right: 2rem;
}

.addButton {
    background-color: #EA3680;
    color: #fff;
    border-radius: 1rem;
    border: none;
    height: 1.5rem;
    width: 5rem;
    text-decoration: none;
    font-variant-caps: small-caps;
    font-size: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @media only screen and (max-width: 600px) {
        width: 4rem;
    }
}

.tweetContainer {
    height: 45rem; /* ou une hauteur fixe selon vos besoins */
    overflow-y: auto; /* activer le défilement vertical si nécessaire */    
    scrollbar-width: thin;
}

.tweetContainer::-webkit-scrollbar {
    width: 12px;
  }

.hashtagPage{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    @media only screen and (max-width: 600px) {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}


.titlePage {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 20px;
    font-variant-caps: small-caps;
    @media only screen and (max-width: 600px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.spinner {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}



.noFound {
    text-align: center;
    margin-top: 2rem;
}

.postNoFound {
    font-variant-caps: small-caps;
    font-weight: bold;
}

/* LIGHT MODE */
.light.addTweet {
    background-color: rgba(0,0,0,0.2);
}

.light.inputLastTweets {
    background-color: #fff;
    color: #000;
    border: #EA3680;
    border-bottom: 1px solid grey;
}

/* DARK MODE */
.dark.hashtagPage {
    color: #000;
}

.dark.addTweet {
    background-color: rgba(255, 255, 255, 0.5);
}

.dark.titlePage {
    color: #fff;
}

.dark.inputLastTweets {
    background-color: #fefefe;
    color: #000;
    border: #EA3680;
    border-bottom: 1px solid grey;
}