.tweetPage{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    width: 100%;
    @media only screen and (max-width: 600px) {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}

.titlePage {
    margin: 1.5rem 1rem;
    /* font-family: Snell Roundhand, cursive; */
    /* text-align: center; */
    /* text-decoration:underline overline; */
    font-size: 20px;
    font-variant-caps: small-caps;
    @media only screen and (max-width: 600px) {
        margin-top: 1rem;
        margin-bottom: 0.75rem;
    }
}

/* .titlePage:hover {
    box-shadow: rgba(227, 2, 145, 0.35) 0px 0px 15px;
} */

.lastTweetsContainer {
    /* margin-bottom: 1.5rem; */
    overflow-y: auto;
    scrollbar-width: 0;
    padding: 0;
    padding-bottom: 5rem;
    margin-top: 0.5rem;
    width: 100%; 
  }
  
  .lastTweetsContainer::-webkit-scrollbar {
    /* width: 12px; */
    display: none;
  }

.addButton {
    background-color: #EA3680;
    color: #fff;
    border-radius: 1rem;
    border: none;
    height: 1.5rem;
    width: 5rem;
    text-decoration: none;
    font-variant-caps: small-caps;
    font-size: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    @media only screen and (max-width: 600px) {
        width: 4rem;
    }
}


.addButton:hover {
    opacity: 70%;
}

.disabled:hover {
    opacity: 1; 
  }

.dessousInput {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
    padding-right: 2rem;
}

.lengthText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.5rem;
    margin-bottom: 1rem;
}

.inputLastTweets {
    border-radius: 0.5rem;
    width: 90%;
    margin-bottom: 1rem;
    @media only screen and (max-width: 600px) {
        margin-bottom: 0.25rem;
    }
}

.addTweet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-height: 90%;
    /* overflow-y: auto;
    scrollbar-width: 0; */

    @media only screen and (max-width: 600px) {
        padding-top: 0.5rem;
        padding-bottom: 0.25rem;
        margin-bottom: 0.25rem;
    }
}

.addTweet::-webkit-scrollbar {
    /* width: 12px; */
    display: none;
  }



.icon {
    margin-right: 0.75rem;
    padding: 0.25rem;
    cursor: pointer;
}

.addPictureContainer{
    overflow-y: auto;
    scrollbar-width: 0;
    width: 100%;
}

/* POP ALERTE */
.popAlert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 20vh;
    width: 50vw;
    z-index: 1;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.popAlert:hover{
    box-shadow: rgba(227, 2, 145, 0.35) 0px 0px 15px;
}

.btnAlert{
    background-color: #ea3681a1;
    margin: 0 1rem;
}

.btnAlert:hover{
   opacity: 0.5;
   cursor: pointer;
}

.titleAlert{
    font-variant-caps: small-caps;
}



/* LIGHT MODE */
.light.inputLastTweets {
    background-color: #fff;
    color: #000;
    border: #EA3680;
    border-bottom: 1px solid grey;
}

.light.addTweet {
    background-color: rgba(0,0,0,0.2);
}

.spinner {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.light.popAlert {
    background-color: rgba(255, 255, 255);
    box-shadow: rgba(31, 1, 20, 0.35) 0px 0px 15px;
}


  /* DARK MODE */
.dark.inputLastTweets {
    background-color: #fefefe;
    color: #000;
    border: #EA3680;
    border-bottom: 1px solid grey;
}

.dark.addTweet {
    background-color: rgba(255, 255, 255, 0.5);
}

/* .dark.tweetPage {
    background-color: #222;
    color: #fefefe;
} */

.dark.popAlert {
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(109, 90, 102, 0.35) 0px 0px 15px;
}