.modalContainer {
    width: 25rem;
    height: 40rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    overflow-y: auto;    
    scrollbar-width:none;
    @media only screen and (max-width: 600px) {
        left:0;
        max-width: 95vw;
    } 
}
.light.modalContainer {
    background-color: #edebeb;
    box-shadow: rgba(31, 1, 20, 0.35) 0px 0px 15px;
}
.dark.modalContainer {
    background-color: #171717;
    color:#fff;
    box-shadow: rgba(185, 4, 122, 0.35) 0px 0px 10px;
}


.title {
    font-variant-caps: small-caps;
    text-align: right;
    margin-top: -0.25rem;
}

.oneNote {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    /* max-height: 3rem;
    overflow: hidden; */
}
.light.oneNote {
    box-shadow: rgba(31, 1, 20, 0.35) -10px -10px 10px;
}
.dark.oneNote {
    box-shadow: rgba(185, 4, 122, 0.35) 0px 0px 10px;
}

.infoNote {
    font-size: 14px;
    margin: 0;
    margin-left: 0.75rem;
}

.photoAndInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 0.25rem; */
    padding-top: 0.25rem;
    margin-left: 0.25rem;
}


.noteDescript {
    font-size: 12px;
    /* padding-left: 2rem; */
    margin: 0;
    font-style: italic;
    color: #91a3ba;
    /* padding-top: -2rem; */
}

/* .blocText {
    margin-left: 1rem;
} */

.userPhoto {
    border-radius: 50%;
}

.photoContainer {
    width: 20px; 
    height: 20px; 
}

.contenteLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottomLine {
    border-bottom: 1px solid #000;
    width: 80%;
    margin-top: 0.5rem;
}

.pastille {
    text-align: right;
    margin-bottom: -0.75rem;
    margin-right: 0.5rem;
    margin-top: -0.25rem;
    background-color: #EA3680;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
}

.pastilleLine{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dateNotif {
    font-size: 10px;
}


.light.noteUnread {
    background-color: #fff;
}
.dark.noteUnread {
    background-color: #000;
}

