.hashtagContainer {
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
}

.titlePage {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Snell Roundhand, cursive;
    text-align: center;
}

.hashtagName {
    color: #fff;
    text-decoration: none;
    font-variant-caps: small-caps;
    font-size: 1.25rem;
}

.totalTweet {
    color: #EA3680;
    font-size: 0.75rem;
    font-variant-caps: small-caps;
    margin-top: -0.25rem;
    margin-left: 1rem;
}

.oneTweet{
    margin-bottom: 20px;
}

.trendPage {
    flex-grow: 1;
    border-left: 1px solid grey;
    padding-left: 1rem;
    max-width: 25%;
}

