.trendPage {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.light.trendPage {
    border-left: 1px solid grey;
    @media only screen and (max-width: 600px){
        border:none;
     }
}
.dark.trendPage {
    /* background-color: #222; */
    border-left: 1px solid black;
    @media only screen and (max-width: 600px){
        border:none;
     }
}

.totalTweet {
    color: #EA3680;
    font-size: 0.75rem;
    font-variant-caps: small-caps;
    margin-top: -0.25rem;
    margin-left: 1rem;
}

.oneTweet{
    margin-bottom: 1rem;
    cursor: pointer;
}



.hashtagContainer {
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    overflow-y: auto;
    @media only screen and (max-width: 600px) {
        margin: 0.25rem;
        padding: 0.25rem;
        word-wrap: break-word; 
        position: absolute;
        width: 20%;
        z-index: 2;
    }
}
.light.hashtagContainer {
    background-color: #fff;
}
.dark.hashtagContainer {
    background-color: rgba(0,0,0,0.9);
}

.hashtagName {
    text-decoration: none;
    font-variant-caps: small-caps;
    font-size: 1.25rem;
    @media only screen and (max-width: 600px){
        font-size: 1rem;
    }
}
.light.hashtagName {
    color: #000;
}
.dark.hashtagName {
    color: #fff;
}

.hashtagName:hover {
    opacity: 80%;
}

.inputHashtag {
    border-radius: 0.5rem;
    width: 90%;
    margin-bottom: 0.5rem;
    text-indent: 0.5rem;
    @media only screen and (max-width: 600px) {
        margin-bottom: 0.25rem;
        text-indent: 0;
    }
}
.light.inputHashtag {
    background-color: #fff;
    color: #000;
    border: #EA3680;
    border-bottom: 1px solid grey;
}
.dark.inputHashtag {
    background-color: #fefefe;
    color: #000;
    border: #EA3680;
    border-bottom: 1px solid grey;
}


.findHashtag {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    /* @media only screen and (max-width: 600px) {
        margin-top: 1rem;
    } */
}

.oneLogo {
    display: flex;
    align-items: center;
    position: absolute;
    /* top: 3.5%; */
    top: 2rem;
    /* right: 20rem; */
    right: 2rem;
    transform: translateY(-50%);
    width: 1rem;
    transition: all 0.2s;
    @media only screen and (max-width: 600px) {
        /* top: 3.5%; */
        top:2rem;
        right: 1rem;
    }
}

.icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3.4%;
    /* top: 1rem; */
    right: 4rem;
    transform: translateY(-50%);
    width: 1rem;
    transition: all 0.2s;
    @media only screen and (max-width: 600px) {
        top: 3.5%;
        right: 0.5rem;
    }
}

.noResult {
    font-style: italic;
}

/* POP ALERTE */
.popAlert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 20vh;
    width: 50vw;
    z-index: 1;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.light.popAlert {
    background-color: rgba(255, 255, 255);
    box-shadow: rgba(31, 1, 20, 0.35) 0px 0px 15px;
}

.dark.popAlert {
    background-color: rgb(0, 0, 0);
    color: #fff;
    box-shadow: rgba(109, 90, 102, 0.35) 0px 0px 15px;
}

.popAlert:hover{
    box-shadow: rgba(227, 2, 145, 0.35) 0px 0px 15px;
}

.btnAlert{
    background-color: #ea3681a1;
    margin: 0 1rem;
}

.btnAlert:hover{
   opacity: 0.5;
   cursor: pointer;
}

.titleAlert{
    font-variant-caps: small-caps;
}
