.logoLink:hover {
    opacity: 50%;
}

.logoLink{
  transform: rotate(-45deg);
}

.photoProfil {
    border-radius: 5rem;
}

.userInfoPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    flex-grow: 1;
    padding-top: 1rem;
    padding-bottom: 3rem;
    /* 
    padding-left: 3rem;
    padding-right: 1rem; */
    /* max-width: 20%; */
}

.bottom{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    @media only screen and (max-width: 600px) {
        margin-left: 0;
    }
}

.blocUser {
    /* display: flex; */
    margin-bottom: 1rem;
}

.logoutButton {
    background-color: #EA3680;
    max-width: 20rem; 
    text-decoration: none;
    font-variant-caps: small-caps;
    font-size: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @media only screen and (max-width: 600px) {
        max-width: 100%; /* Permet à l'élément de prendre la pleine largeur sur les petits écrans */
        word-wrap: break-word; /* Permet le passage à la ligne à l'intérieur des mots */
        margin-bottom: 1rem;
    }
}

.englobButton {
    max-width: 100%;
}

.logoutButton:hover {
    opacity: 70%;
}

.username{
    color: #57616E;
    font-size: 0.75rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 0.5rem;
}

.userLog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    align-items:flex-start;
    @media only screen and (max-width: 600px) {
        margin-left: 0;
        max-width: 100%; 
        word-wrap: break-word; 
    }
}

.btnTheme {
    cursor: pointer;
    border-radius: 50%;    
    width: 70px;
    height: 70px;    
}

.logo {
    display: flex;
    width: 100;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin-top: 1rem;
    
}

.oneLogo {
    margin-bottom: 0.5rem;
}
.oneLogo:hover {
    opacity: 50%;
}

.topPage {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-end;
    width: 100%;
}

.topPage2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nbrNotif {
    border-radius: 50%;
    background-color: red;
    font-size: 8px;
    font-weight: bold;
    color: #fff;
    padding: 0.2rem;
    position:absolute;
    z-index: 1;
    margin-left: -0.75rem;
    margin-top: -0.5rem;
}



/* LIGHT MODE */
.light.userInfoPage {
    border-right: 1px solid grey;
}

/* DARK MODE */
.dark.userInfoPage {
    background-color: #222;
    color: #fefefe;
    border-right: 1px solid grey;
}

