/* MISE EN FORME PAGE  */
.userInfoPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @media only screen and (min-width: 601px) {
        height: 100%;
    };
    @media only screen and (max-width: 600px){
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 0;
        margin: 0.5rem 0 0 0.5rem;
        /* max-height: 80%; */
        /* height: 4rem; */
     };
}
.light.userInfoPage {
    border-right: 1px solid grey;
    @media only screen and (max-width: 600px){
        border:none;
     }
}
.dark.userInfoPage {
    border-right: 1px solid black;
    @media only screen and (max-width: 600px){
       border:none;
    }
}

/* HAUT DE PAGE */
.topPage {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 100%;
    @media only screen and (max-width:600px) {
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
    }
}
.topPage2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media only screen and (max-width:600px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

/* BAS DE PAGE */
.bottom{
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;  
    align-items: center;
    
    @media only screen and (max-width: 600px) {
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin-right: 1rem;
    };
    @media only screen and (min-width: 601px) {
        width: 100%;
        height: 100%;  
    };
}

/* USER */
.blocUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    @media only screen and (max-width: 600px) {
        flex-direction: row;
        /* justify-content: space-between; */
        margin: 0;
        /* width: 5rem; */
        
    }
}
.photoProfil {
    border-radius: 5rem;
    width: 5rem;
    height: 5rem;
    @media only screen and (max-width: 600px) {
        width: 2.5rem;
        height: 2.5rem;
    }
}

.username{
    color:#444;
    font-size: 0.75rem;
    text-align: left;
    /* width: 100%; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* margin-left: 0.5rem; */
    @media only screen and (max-width: 600px){
        margin-bottom:-0.5rem;
        /* text-align: right; */
        
    }
}


/* BOUTON */
.btnTheme {
    cursor: pointer;
    border-radius: 50%;    
    width: 70px;
    height: 70px;    
}


/* FONT AWESOME */
.logo {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    /* padding-right: 1rem; */
@media only screen and (max-width: 600px) {
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin:0;
};
@media only screen and (min-width: 601px) {
    width: 90%;
};
}

.oneLogo {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    /* width: 1rem; */
    cursor: pointer;
    /* justify-content: center; */
    /* text-align: center; */
    @media only screen and (max-width:600px) {
        margin: 0.25rem;
        /* padding: 0.5rem; */
    }
}
.oneLogo:hover {
    opacity: 50%;
    font-style: italic;
}


.nbrNotif {
    border-radius: 50%;
    background-color: #EA3680;
    height: 0.75rem;
    width: 0.75rem;
    /* font-size: 8px;
    font-weight: bold; */
    color: #fff;
    padding: 0.1rem 0.2rem;
    position:absolute;
    z-index: 1;
    margin-left: -0.55rem;
    margin-top: -0.55rem;
}

/* BOUTON CONNEXION */

.btnSignIn {
    color:#EA3680;
    font-weight: bold;
    background-color: transparent;
    height: 4rem;
    width: 5.5rem;
    border-radius: 50%;
    padding: 0;
    border: 1px solid #EA3680;
    font-variant-caps: small-caps;
    /* margin-top: 10rem; */
    cursor: pointer;
    box-shadow: rgba(166, 166, 166, 0.842) 0px 0px 40px;
}

.btnSignUp {
    background-color: #EA3680;
    font-weight: bold;
    color: white;
    height: 4rem;
    width: 5.5rem;
    border-radius: 50%;
    border: 0px;
    /* text-decoration: none; */
    font-variant-caps: small-caps;
    padding: 0;
    /* margin-top: 10rem; */
    cursor: pointer;

}

.btnSignUp:hover {
    opacity: 70%;
    box-shadow: rgba(185, 4, 122, 0.35) 0px 0px 40px;
}

.btnSignIn:hover {
    opacity: 70%;
    box-shadow: rgba(185, 4, 122, 0.35) 0px 0px 40px;
}


/* NO USER */
.noUser{
    display: flex;
    flex-direction: column;
    width: 100%; 
    justify-content: center;
    align-items: center;
    @media only screen and (min-width: 600px) {
        flex-direction: row;
        height: 100vh;
        /* margin:1rem; */
    }
    @media only screen and (max-width: 600px) {
        flex-direction: row;
        /* margin:1rem; */
    }
}


/* BOUTTON CONNEXION */
.oneLogoConnection {
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    font-style: italic;
    border: none;
    border-radius: 1rem; 
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #000;
    @media only screen and (min-width: 600px){
        background-color: rgba(0,0,0,0.4);
        border: 1px solid #000;
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 1rem; 
    }
    @media only screen and (max-width: 600px){
        /* margin-top: 0.5rem;
        margin-left: 0; */
        margin:0;
        padding: 0.2rem;
        width: 10rem;
        height: 4rem;
        border-radius: 1rem; 
    }
}
@media only screen and (min-width: 600px){
    @keyframes explode {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(2);
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none; 
        }
    }    
    .oneLogoConnection.exploded {
        animation: explode 1s forwards, fadeOut 0.3s ease forwards;
        border: none;
    }
}




.connection{
    font-size: 12px;
    border: none;
    padding: 0;
    @media only screen and (max-width: 600px){
        margin-bottom: 0.2rem;
    }
}

.connection2{
    font-size: 12px;
    border: none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    @media only screen and (max-width: 600px){
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0.25rem;
    }
}








