.logoLink:hover {
    opacity: 50%;
}

.logoLink{
  transform: rotate(-45deg);
  
}


.photoProfil {
    border-radius: 5rem;
    
}

.userInfoPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding-left: 3rem;
    flex-grow: 1;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-right: 1px solid grey;
    padding-right: 1rem;
    max-width: 20%;
}

.bottom{
    display: flex;
    flex-direction: column;
}

.blocUser {
    display: flex;
    margin-bottom: 1rem;
    height: 3rem;
}

.logoutButton {
    background-color: #EA3680;
    width: 5rem;
}

.username{
    color: #57616E;
    font-size: 0.75rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 0.5rem;
}

.userLog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    align-items:start;
}
    